body {
  margin: 0px;
  padding: 0px;
}
#Page {
  width: 98.71vw; /*100vw not possible because of presence of scrollbar*/
  margin: 0px;
  padding: 0px;
  display: flex;
}

/*All this Pages are made width 0px height 0px to ensure cascading in media queries*/
#TopPage {
  position: fixed;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  height: 56px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px #888888;
  z-index: 4;
}
#LeftPage {
  position: fixed;
  background-color: #ecf3ff;
  padding-top: 1rem;
  overflow-x: hidden; /*Vertical Scrollbar*/
  overflow-y: scroll; /*Horizontal Scrollbar*/
  margin-top: 56px;
  width: 0px;
  height: 0px;
  z-index: 1;
}
#RightPage {
  position: fixed;
  background-color: #ecf3ff;
  padding-top: 1rem;
  overflow-y: hidden;
  margin: 56px 0 0 75%; /*To find accurate margin-left, calculate from grid-template-areas of #Page*/
  width: 0px;
  height: 0px;
  z-index: 2;
}
#MainPage {
  grid-area: MainPage01;
  background-color: #ecf3ff;
  margin-top: 56px;
  height: 2000px;
  width: 0px;
  word-wrap: break-word;
  z-index: 3;
  /*height is set 0 because height of main page depends upon content of it*/
}

/*Aligning Elements*/
.AlignLeftTopPage {
  height: 98%;
  width: 98%;
  margin-left: 2%;
  margin-top: 0.3%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.AlignMidTopPage {
  /*No margin*/
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.AlignRightTopPage {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: center;
}

/*Top Page Configuration*/
.FacebookLogo {
  width: 15%;
  height: 95%;
}
.FacebookLogoPicture {
  padding: 6% 0% 0% 12%;
  width: 78%;
  height: 75%;
}
.FacebookLogoPicture:hover {cursor: pointer;}
.SearchBox {
  width: 85%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.SearchFirstPart {
  background-color: #ecf3ff;
  border-radius: 50% 0% 0% 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80%;
  width: 10%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.SearchLastPart {
  height: 80%;
  width: 90%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#SearchIcon {
  width: 45%;
  height: 38%;
}
#SearchInputText {
  background-color: #ecf3ff;
  border: 0px;
  padding: 0px 0px 0px 3%;
  margin: 0 0 0 0;
  border-radius: 0% 20% 20% 0%;
  font-size: 11pt;
  height: 100%;
}


/*Mid Top Page Configuration*/
.MidTopPageItem {
  width: 16%;
  height: 100%;
  display: flex;
  margin-right: 1%;
  flex-direction: column;
  background-color: #888888;
}

/*Right Top Page Configuration*/
.RightTopPageItem {
  width: 15%;
  height: 100%;
  padding-top: 5%;
}
.RightTopPageLogo {
  width: 75%;
  height: 70%;
  opacity: 0.8;
}
.RightTopPageLogo:hover {cursor: pointer; opacity: 1;}


/*MidTop Page Configuration*/
.MidTopMain {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf3ff;
}
.BlueBarWhenClicked {
  height: 5%;
  width: 100%;
  background-color: blue;
  border-radius: 7%;
}
.MidTopMainCentralize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 90%;
  border-radius: 5%;
}
.MidTopMainCentralize:hover {
  background-color: yellow;
  cursor: pointer;
}
.MidTopMainLogos {
  width: 27%;
  height: 57%;
}


/*Left Page Configuration*/
#LeftPage .FixedPageStart .MainList .MainListAlign {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#LeftPage .FixedPageStart .MainList .MainListAlign .MainListItem {
  height: 9.5%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  margin-top: 2%;
}
#LeftPage .FixedPageStart .MainList .MainListAlign .MainListItem:hover {
  cursor: pointer;
  background-color: #55797a;
}
.ShortcutList .ShortcutListItem {
  height: 25%;
  width: 100%;
  background-color: #ffffff;
  margin-top: 2%;
}
.ShortcutList .ShortcutListItem:hover {
  cursor: pointer;
  background-color: #55797a;
}

/*Left Top Page Configuration*/
.MainListItem {
  align-items: center;
}
.MainListItemImageCollection {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LeftMainListImage {
  width: 41%;
  height: 63%;
}


/*Left Fixed Page Shortcut Configuration*/
.ShortcutList {
  font-weight: 400;
}
.ShortcutListItem {
  display: flex;
  align-items: center;
}
.ShortcutListItemImageCollection {
  width: 20%;
  height: 100%;
}
.LeftShortcutListImage {
  width: 80%;
  height: 100%;
}
.LeftShortcutListDescribe {
  font-weight: 550;
}
.footer {
  font-weight: 400;
}

/*LeftPageStart, RightPageStart and MainPageStart*/
.FixedPageStart {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
  margin-left: 1%;
  margin-right: 1%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 95%;
  font-weight: 550;
  font-size: 11pt;
  min-height: 720px;
}
.ContentPageStart {
  margin: 1.5rem 1% 1% 1%;
}
.FixedPageStart {
  display: flex;
  flex-direction: column;
}
.MainList {
  height: 65%;
  width: 100%;
}
.LineBelowMainList {
  height: 3%;
  width: 100%;
}
.HorizontalLineLeftPage {
  border: 0.5px solid black;
  opacity: 0.2;
}
.LineBelowMainListAlign {
  margin: 0 5.2% 0 3.8%;
}
.ShortcutList {
  height: 27%;
  width: 100%;
}
.footer {
  height: 5%;
  width: 100%;
}
.RightPageTopic {
  height: 5%;
  width: 100%;
  background-color: yellow;
}
.RightPageContent {
  height: 95%;
  width: 100%;
}

/*Main Page Configuration*/
#MainPageContentStart {
  margin-top: 5%;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#TopicPageMain {
  height: 37vh;
}
#MainMindPage {
  height: 14vh;
}
.NewsFeedPages {
  margin-left: 8%;
  margin-right: 7.5%;
  margin-bottom: 5%;
  background-color: aquamarine;
}
.PagesMainNormalMiddle {
  height: 80vh;
}

/*Right Page Configuration*/
#RightPageStart {
  overflow-y: scroll;
}
.RightPageContentAlign {
  margin: 0 0 0 0%;
  width: 100%;
  height: 100%;
}
.ContactsListItem {
  width: 90%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
  margin-left: 2%;
}
.RightContactsListProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  width: 100%;
  opacity: 0.8;
}
.RightContactsListProfile:hover {cursor: pointer; opacity: 1; background-color: rgb(105, 112, 126);}
.RightContactsListProfilePicture {
  width: 15%;
  text-align: center;
}
.RightCName {
  width: 80%;
}


@media only screen and (min-width: 1100px) {
  #LeftPage {
    width: 25%;
  }
  #RightPage {
    width: 25%;
  }
  #MainPage {
    margin-left: 25%;
    width: 50%;
  }
  .ContentPageStart {
    height: 97%;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  #RightPage {
    width: 25%;
  }
  #MainPage {
    width: 75%;
  }
  .ContentPageStart {
    height: 97%;
  }
}
@media (max-width: 900px) {
  #MainPage {
    width: 100%;
  }
  .ContentPageStart {
    height: 97%;
  }
}

/*For Title Bar*/
@media only screen and (min-width: 701px){
  .LeftTopPage {
    width: 25%;
    background-color: aqua;
  }
  .MidTopPage{
    width: 50%;
    background-color: beige;
  }
  .RightTopPage {
    width: 25%;
    background-color: aquamarine;
  }
}
@media only screen and (max-width: 701px){
  .MidTopPage {
    display: none;
  }
  .LeftTopPage {
    width: 50%;
    background-color: beige;
  }
  .RightTopPage {
    width: 50%;
    background-color: aquamarine;
  }
  .SearchLastPart {
    display: none;
  }
}
