body {
  margin: 0px;
  padding: 0px;
}
#Page {
  width: 98.71vw; /*100vw not possible because of presence of scrollbar*/
  margin: 0px;
  padding: 0px;
  display: flex;
}

/*All this Pages are made width 0px height 0px to ensure cascading in media queries*/
#TopPage {
  position: fixed;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  height: 56px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px #888888;
  z-index: 4;
}
#LeftPage {
  position: fixed;
  background-color: #ecf3ff;
  padding-top: 1rem;
  overflow-x: hidden; /*Vertical Scrollbar*/
  overflow-y: hidden; /*Horizontal Scrollbar*/
  margin-top: 56px;
  width: 0px;
  height: 0px;
  z-index: 1;
}
#RightPage {
  position: fixed;
  background-color: #ecf3ff;
  padding-top: 1rem;
  overflow-y: hidden;
  margin: 56px 0 0 75%; /*To find accurate margin-left, calculate from grid-template-areas of #Page*/
  width: 0px;
  height: 0px;
  z-index: 2;
}
#MainPage {
  grid-area: MainPage01;
  background-color: #ecf3ff;
  margin-top: 56px;
  height: 2000px;
  width: 0px;
  word-wrap: break-word;
  z-index: 3;
  /*height is set 0 because height of main page depends upon content of it*/
}

/*LeftPageStart, RightPageStart and MainPageStart*/
.FixedPageStart {
  margin-top: 0.5rem;
  margin-left: 1%;
  margin-right: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: aquamarine;
  height: 95%;
  min-height: 720px;
}
.ContentPageStart {
  margin: 1.5rem 1% 1% 1%;
  background-color: aquamarine;
}
.FixedPageStart {
  display: flex;
  flex-direction: column;
}
.MainList {
  height: 57%;
  width: 100%;
  background-color: green;
}
.LineBelowMainList {
  height: 3%;
  width: 100%;
}
.HorizontalLineLeftPage {
  border: 0.5px solid black;
  opacity: 0.2;
}
.LineBelowMainListAlign {
  margin: 0 5.2% 0 3.8%;
}
.ShortcutList {
  height: 35%;
  width: 100%;
  background-color: greenyellow;
}
.footer {
  height: 5%;
  width: 100%;
  background-color: yellow;
}
.RightPageTopic {
  height: 5%;
  background-color: yellow;
}
.RightPageContent {
  height: 95%;
  background-color: yellowgreen;
}

@media only screen and (min-width: 1100px) {
  #LeftPage {
    width: 25%;
  }
  #RightPage {
    width: 25%;
  }
  #MainPage {
    margin-left: 25%;
    width: 50%;
  }
  .ContentPageStart {
    height: 97%;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  #RightPage {
    width: 25%;
  }
  #MainPage {
    width: 75%;
  }
  .ContentPageStart {
    height: 97%;
  }
}
@media (max-width: 900px) {
  #MainPage {
    width: 100%;
  }
  .ContentPageStart {
    height: 97%;
  }
}

/*For Title Bar*/
@media only screen and (min-width: 701px){
  .LeftTopPage {
    width: 25%;
    background-color: aqua;
    justify-items: flex-start;
  }
  .MidTopPage{
    justify-items: center;
    width: 50%;
    background-color: beige;
  }
  .RightTopPage {
    width: 25%;
    background-color: aquamarine;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 701px){
  .MidTopPage {
    visibility: none;
  }
  .LeftTopPage {
    width: 50%;
    background-color: beige;
  }
  .RightTopPage {
    width: 50%;
    background-color: aquamarine;
  }
}
